.login-image {
  background-image: url('../../public/images/login.jpg');
  background-size: cover;
  background-position: center;
}

.login-form-container {
  width: 100%;
  max-width: 400px;
  padding: 2rem;
  background-color: #ffffff;
  border-radius: 8px;
}

h2 {
  font-weight: 700;
  color: #1a1a1a;
}

.form-label {
  font-weight: 500;
}

.signup-link {
  color: #c49b63;
  font-weight: 500;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
